@font-face
    font-family: 'wv-icons'
    src: url('/library/fonts/wv-icons.eot');
    src: url('/library/fonts/wv-icons.woff') format('woff'),
    url('/library/fonts/wv-icons.ttf')  format('truetype'),
    url('/library/fonts/wv-icons.svg#wv-icons') format('svg');

i
    font-family: 'wv-icons'
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

.i-logo .path1:before
    content: "\e600"
    color: rgb(62, 81, 100)

.i-logo .path2:before
    content: "\e601"
    margin-left: -1em
    color: rgb(62, 81, 100)

.i-logo .path3:before
    content: "\e602"
    margin-left: -1em
    color: rgb(62, 81, 100)

.i-logo .path4:before
    content: "\e603"
    margin-left: -1em
    color: rgb(149, 151, 108)

.i-logo .path5:before
    content: "\e604"
    margin-left: -1em
    color: rgb(149, 151, 108)

.i-logo .path6:before
    content: "\e605"
    margin-left: -1em
    color: rgb(149, 151, 108)

.i-search:before
    content: "\e606"

.i-expand:before
    content: "\e607"

.i-right:before
    content: "\e608"

.i-down:before
    content: "\e609"

.i-left:before
    content: "\e60a"

.i-up:before
    content: "\e60b"

.i-facebook:before
    content: "\e60c"

.i-twitter:before
    content: "\e60d"

.i-instagram:before
    content: "\e60e"
