doctype html
html.no-js(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title GMO
        meta(name='viewport', content='width=device-width, initial-scale=1')

        // bower:css
        // endbower
        link(rel='stylesheet', href='./css/main.css')
    body
        h1 Hello World!
        p This is a test to see if browser-sync work.

        // bower:js
        // endbower
        script(src='./js/main.js')