doctype html
html.no-js(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title GMO
        meta(name='viewport', content='width=device-width, initial-scale=1')

        // bower:css
        // endbower
        link(rel='stylesheet', href='/css/main.css')
    body
        // bower:js
        // endbower
        script(src='/js/app.js')